rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para el Buzón de Solicitudes
    match /negocios_pendientes/{document} {
      allow create: if true; // Cualquiera puede enviar una solicitud
      allow read, update, delete: if request.auth != null; // Solo Admin puede ver/moderar
    }
    
    // Reglas para el Directorio Oficial (Colección Global)
    match /negocios/{document} {
      allow read: if true; // Público general puede ver el directorio
      allow create, update, delete: if request.auth != null; // Solo Admin puede publicar/suspender
    }
    
    // Denegar cualquier otra cosa por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
