---
---

<h1>Smart Tlaxcala</h1>
<p>Selecciona tu municipio</p>

<ul>
  <li><a href="/ayometla">Ayometla</a></li>
  <li><a href="/san-lorenzo">San Lorenzo</a></li>
  <li><a href="/santo-toribio">Santo Toribio</a></li>
</ul>